# Server

PORT=5000

# MongoDB

MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database>

# Redis

REDIS_HOST=<redis-host>
REDIS_PORT=<redis-port>
REDIS_PASSWORD=<redis-password>
REDIS_TLS=false

# OpenAI

OPENAI_API_KEY=<openai-api-key>
OPENAI_MODEL=gpt-4o-mini

